@mixin Centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: rgb(20, 70, 177);
  @include Centered;
}

#root{
  width: 100%;
  height: 100%;
  @include Centered;
  flex-direction: column;
  position: relative;



header{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
  position: absolute;
  top:0;
  left:0;
  padding: 15px;


#box-volume{
  display: flex;
  row-gap: 15px;
  flex-direction:column;
}

  .box-btn-input-volume{
   display: flex;
   justify-content: end;
}


  .btn-volume{
    width: 48px;
    height: 39px;
    background: url('../assets/audio-ico.png');
    border: none;
    cursor: pointer;
  }

  .btn-volume.normal-pressed{
    background-position: -48px 0px;
  }

  .btn-volume.mute{
    background-position: 96px 0px;
  }

  .btn-volume.mute-pressed{
    background-position: 48px 0px;
  }

  .btn-volume.normal{
    background-position: 0px 0px;
  }
}


}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#calculator-wrapper {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 6px 10px;
  border-radius: 30px;
}

#calculator {
  width: 346px;
  height: 458px;
  background: transparent;
  background: url("../assets/body.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 40px;
  flex-direction: column;
  @include Centered;
  justify-content: space-between;

  #display {
    width: 100%;
    height: 74px;

    background: url("../assets/display.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .buttons {
    @include Centered;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 10px;

    .button {
      width: 54px;
      height: 50px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
