@mixin Centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == smartphone-landscape {
    @media only screen and (max-width: 767.98px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (min-width: 767.99px) and (max-width: 1199.97px) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Silkscreen, Arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: rgb(20, 70, 177);
  @include Centered;
}

#root {
  width: 100%;
  height: 100%;
  @include Centered;
  flex-direction: column;
  position: relative;

  header {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;

    #box-volume {
      display: flex;
      gap: 15px;
      flex-direction: row-reverse;
    }

    .box-btn-input-volume {
      display: flex;
      justify-content: end;

      p {
        display: flex;
        align-items: flex-end;
        margin-right: 5px;
        font-size: 18px;
        color: white;
      }

      img {
        width: 70px;
        height: 39px;
        position: absolute;
        z-index: 2;
        pointer-events: none;
      }

      .volume-shape {
        @include Centered;
        clip-path: polygon(0 75%, 90% 0%, 90% 90%, 0% 90%);
        width: 70px;
        height: 39px;

        .input-volume {
          width: 70px;
          height: 37px;
          appearance: none;
          background: linear-gradient(rgb(240, 123, 46), rgb(255, 123, 34))
            no-repeat rgba(255, 255, 255, 0.3);
        }
        .input-volume::-webkit-slider-thumb {
          appearance: none;
          background-color: rgb(240, 123, 46);
          height: 39px;
          width: 1px;
        }
        .input-volume::-moz-range-thumb {
          appearance: none;
          background-color: rgb(240, 123, 46);
          height: 39px;
          width: 1px;
        }
      }
    }

    .btn-volume {
      width: 48px;
      height: 39px;
      background: url("../assets/audio-ico.png");
      border: none;
      cursor: pointer;
    }

    .btn-volume.normal-pressed {
      background-position: -48px 0px;
    }

    .btn-volume.mute {
      background-position: 96px 0px;
    }

    .btn-volume.mute-pressed {
      background-position: 48px 0px;
    }

    .btn-volume.normal {
      background-position: 0px 0px;
    }
  }
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#calculator-wrapper {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 6px 10px;
  border-radius: 30px;
}

#calculator {
  width: 346px;
  height: 458px;
  background: transparent;
  background: url("../assets/body.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 40px;
  flex-direction: column;
  @include Centered;
  justify-content: space-between;
  @include responsive(tablet) {
    width: 275px;
    height: 364px;
    padding: 30px;
  }
  @include responsive(smartphone-landscape) {
    width: 220px;
    height: 291px;
    padding: 25px;
  }

  #display {
    width: 100%;
    height: 74px;
    margin-bottom: 6px;
    background: url("../assets/display.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include responsive(tablet) {
      height: 60px;
    }
    @include responsive(smartphone-landscape) {
      height: 50px;
    }

    @include Centered;
  }

  .fade-in-out {
    width: 100%;
    height: 74px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  .fade-in-out.visible {
    opacity: 1;
  }

  .rezult {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 74px;
    column-gap: 0.7px;
    padding: 0 14px 2px 0;
    position: relative;

    @include responsive(tablet) {
      column-gap: 2.3px;
      padding: 0 12px 1px 0;
    }
    @include responsive(smartphone-landscape) {
      padding: 0 9px 4px 0;
      column-gap: 0.85px;
    }
  }

  .number-0 {
    position: relative;
    background: url("../assets/numbers-sprite.png") -20px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -18px 0px;
      background-size: 1300%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -14.2px 0px;
      background-size: 1250%;
      width: 17px;
      height: 34px;
      padding: 1px 1px 1px 1px;
      background-clip: content-box;
    }
  }

  .number-1 {
    position: relative;
    background: url("../assets/numbers-sprite.png") -45px -1px;
    background-size: 1200%;
    width: 27px;
    height: 52px;
    padding: 1px 2px 1px 2px;
    background-clip: content-box;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -36px 1px;
      background-size: 1300%;
      padding: 4px 0.5px 0 2px;
      background-clip: content-box;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -27px 0.5px;
      background-size: 1200%;
      width: 17px;
      height: 34px;
      padding: 0 0 0 3px;
      background-clip: content-box;
    }
  }

  .number-2 {
    position: relative;
    background: url("../assets/numbers-sprite.png") -69px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;
    padding: 1px 1px 1px 1px;
    background-clip: content-box;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -56px 0px;
      background-size: 1300%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -42px 0.5px;
      background-size: 1200%;
      width: 17px;
      height: 34px;
      padding: 1px 0 1px 2px;
      background-clip: content-box;
    }
  }

  .number-3 {
    position: relative;
    background: url("../assets/numbers-sprite.png") -89px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;
    padding: 1px 1px 1px 4px;
    background-clip: content-box;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -77.2px -0.5px;
      background-size: 1350%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -56px 0.5px;
      background-size: 1200%;
      width: 17px;
      height: 34px;
      padding: 1px 0 1px 3px;
      background-clip: content-box;
    }
  }

  .number-4 {
    position: relative;
    background: url("../assets/numbers-sprite.png") -113px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;
    padding: 1px 1px 1px 3px;
    background-clip: content-box;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -97.9px -1px;
      background-size: 1370%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -73.5px 0.5px;
      background-size: 1225%;
      width: 17px;
      height: 34px;
      padding: 0 1px 0 1px;
      background-clip: content-box;
    }
  }

  .number-5 {
    position: relative;
    background: url("../assets/numbers-sprite.png") -137px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;
    padding: 1px 2px 1px 2px;
    background-clip: content-box;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -119px -1.3px;
      background-size: 1389%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -88px 0px;
      background-size: 1230%;
      width: 17px;
      height: 34px;
      padding: 1px 1px 1px 2px;
      background-clip: content-box;
    }
  }

  .number-6 {
    position: relative;
    background: url("../assets/numbers-sprite.png") -160px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;
    padding: 1px 2px 1px 2px;
    background-clip: content-box;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -126.3px 0px;
      background-size: 1280%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -103px 0px;
      background-size: 1230%;
      width: 17px;
      height: 34px;
      padding: 1px 1px 1px 2px;
      background-clip: content-box;
    }
  }

  .number-7 {
    position: relative;
    background: url("../assets/numbers-sprite.png") -183px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;
    padding: 1px 2px 1px 2px;
    background-clip: content-box;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -155.5px -1px;
      background-size: 1360%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -118px 0px;
      background-size: 1230%;
      width: 17px;
      height: 34px;
      padding: 1px 1px 1px 2px;
      background-clip: content-box;
    }
  }

  .number-8 {
    position: relative;
    background: url("../assets/numbers-sprite.png") -206px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;
    padding: 1px 2px 1px 2px;
    background-clip: content-box;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -166.5px -0.5px;
      background-size: 1300%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -132.9px 0px;
      background-size: 1230%;
      width: 17px;
      height: 34px;
      padding: 1px 1px 1px 2px;
      background-clip: content-box;
    }
  }

  .number-9 {
    position: relative;
    background: url("../assets/numbers-sprite.png") -229px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;
    padding: 1px 2px 1px 2.5px;
    background-clip: content-box;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -195.7px -1.5px;
      background-size: 1370%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -147.5px 0px;
      background-size: 1230%;
      width: 17px;
      height: 34px;
      padding: 1px 1px 1px 2px;
      background-clip: content-box;
    }
  }

  .number-e {
    position: relative;
    background: url("../assets/numbers-sprite.png") -252px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;
    padding: 1px 2px 1px 2px;
    background-clip: content-box;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -214px -1px;
      background-size: 1370%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -162px 0px;
      background-size: 1230%;
      width: 17px;
      height: 34px;
      padding: 1px 1px 1px 2px;
      background-clip: content-box;
    }
  }

  .number-r {
    position: relative;
    background: url("../assets/numbers-sprite.png") -275.5px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;
    padding: 1px 2px 1px 2px;
    background-clip: content-box;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -235px -1px;
      background-size: 1370%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -177.5px 0px;
      background-size: 1230%;
      width: 17px;
      height: 34px;
      padding: 1px 1px 1px 2px;
      background-clip: content-box;
    }
  }

  .number-o {
    position: relative;
    background: url("../assets/numbers-sprite.png") -20px 0px;
    background-size: 1200%;
    width: 27px;
    height: 52px;

    @include responsive(tablet) {
      position: relative;
      background: url("../assets/numbers-sprite.png") -18px 0px;
      background-size: 1300%;
      width: 20px;
      height: 42px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/numbers-sprite.png") -14.2px 0px;
      background-size: 1250%;
      width: 17px;
      height: 34px;
      padding: 1px 1px 1px 1px;
      background-clip: content-box;
    }
  }

  .number-N {
    display: none;
  }

  .number-a {
    display: none;
  }

  .number-dot {
    z-index: 10;
    background: black;
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: -10px;
    left: 0px;

    @include responsive(tablet) {
      z-index: 10;
      background: black;
      width: 5px;
      height: 5px;
      position: absolute;
      bottom: -5px;
      left: 0px;
    }
    @include responsive(smartphone-landscape) {
      z-index: 10;
      background: black;
      width: 4px;
      height: 4px;
      position: absolute;
      bottom: -1px;
      left: 0px;
    }
  }

  .number-exo {
    position: relative;
    top: 16.3px;
    right: 2px;
  }

  .negative-start {
    background: url("../assets/minus-show.png");
    background-size: 100%;
    position: absolute;
    left: 5px;
    width: 23px;
    height: 65%;
    top: 10px;

    @include responsive(tablet) {
      background: url("../assets/minus-show.png");
      background-size: 95%;
      position: absolute;
      left: 4px;
      width: 20px;
      height: 65%;
      top: 15px;
    }
    @include responsive(smartphone-landscape) {
      background: url("../assets/minus-show.png");
      background-size: 83%;
      position: absolute;
      left: 3px;
      width: 18px;
      height: 65%;
      top: 18px;
      padding: 4px 1px 4px 1px;
      background-clip: content-box;
    }
  }

  .buttons {
    @include Centered;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 10px;

    @include responsive(tablet) {
      gap: 8px 8px;
    }
    @include responsive(smartphone-landscape) {
      gap: 6px 6px;
    }

    .button {
      width: 54px;
      height: 50px;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-size: 108px 48px !important;
      background-position: 0px 0px !important;
      cursor: pointer;

      &:active {
        background-position: -54px 0px !important;
      }

      @include responsive(tablet) {
        width: 46px;
        height: 41px;
        background-size: 92px 41px !important;

        &:active {
          background-position: -46px 0px !important;
        }
      }

      @include responsive(smartphone-landscape) {
        width: 38px;
        height: 32px;
        background-size: 77px 32px !important;

        &:active {
          background-position: -39px 0px !important;
        }
      }
    }
  }
}
